/* ROOT LAYOUT */
.admin-layout {
  display: flex;
  height: 100vh;
  background: #f3f4f6;
  overflow: hidden;
}

/* MOBILE TOGGLE */
.mobile-toggle {
  display: none;
  position: fixed;
  top: 14px;
  left: 14px;
  z-index: 60;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #0f172a;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;
}

/* HEADER */
.sidebar-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 700;
  background: #0f172a;
  color: white;
  font-size: 18px;
  margin-left: 25px;
}

.sidebar-nav::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
/* NAV */
.sidebar-nav {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #4b5563;
  text-decoration: none;
  transition: 0.2s;
  font-size: 14px;
  color: #fefefe;
}

.nav-item:hover {
  background: #f3f4f6;
  color: #111827;
}

.nav-item.active {
  background: #e7e7e7;
  color: #0f172a;
  font-weight: 600;
  border: 2px solid #3bf420;
}

/* FOOTER */
.sidebar-footer {
  padding: 16px;
  border-top: 1px solid #e5e7eb;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #d1d5db;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #fefefe;
}

.email {
  font-size: 12px;
  color: #6b7280;
}

/* MAIN AREA */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* TOPBAR */
.topbar {
  height: 64px;
  background: #e7e7e7;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.topbar h2 {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.logout-btn {
  background: #3bf420;
  color: #111827;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.logout-btn:hover {
  background: #30c419;
}

/* CONTENT */
.content {
  flex: 1;
  overflow-y: auto;
  /* padding: 60px 300px; */
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 50;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .mobile-toggle {
    display: block;
  }
}
