/* PAGE WRAPPER */
.menus-page {
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #f9fafb, #ffffff); */
  background: #e7e7e7;
  padding: 48px 0;
}

/* CONTAINER */
.menus-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER */
.menus-header {
  text-align: center;
  margin-bottom: 48px;
}

.menus-header h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #0f172a;
}

.menus-header h1 span {
  color: #3bf420;
}

.menus-header p {
  color: #6b7280;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
}

/* GRID */
.menus-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
.view-more {
  text-align: center;
  margin-top: 30px;
  color: #636363;
}
/* RESPONSIVE GRID */
@media (min-width: 640px) {
  .menus-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .menus-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .menus-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
