/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #0f172a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* CONTAINER */
.navbar-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
}

/* LEFT */
.logo img {
  width: 86px;
}

/* CENTER */
.navbar-center {
  display: flex;
  gap: 24px;
}

.navbar-center a {
  text-decoration: none;
  color: #fefefe;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-center a:hover {
  color: #3bf420;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* CART */
.cart-btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cart-btn svg {
  color: #fefefe;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #3bf420;
  color: #0f172a;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BUTTON */
.login-btn {
  background: #3bf420 !important;
  color: #0f172a !important;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover {
  background: #30c419;
}

/* ========================= */
/* PROFILE DROPDOWN FIX     */
/* ========================= */

.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: #fefefe;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: #0f172a;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 999;
}

.dropdown a,
.dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  text-decoration: none;
  color: #fefefe;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown a:hover,
.dropdown button:hover {
  background: #f3f4f6;
  border-radius: 10px;
  color: #0f172a;
}

/* MOBILE MENU BUTTON */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fefefe;
}

/* MOBILE MENU */
.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid #e5e7eb;
}

.mobile-menu a,
.mobile-menu button {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
.press-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar-center {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}
